apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-blue
  namespace: dev   # CD will replace namespace dynamically
  labels:
    app: backend
    color: blue
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
      color: blue
  template:
    metadata:
      labels:
        app: backend
        color: blue
    spec:

      # ---------- INIT CONTAINER ----------
      initContainers:
        - name: init-check
          image: busybox
          command:
            - sh
            - -c
            - |
              echo "Initializing backend in $(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace)"
              sleep 5

      containers:
        # ---------- MAIN APP ----------
        - name: backend
          image: BACKEND_IMAGE   # injected by CD
          ports:
            - containerPort: 3000

          env:
            - name: ENVIRONMENT
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace

            - name: BACKEND_VERSION
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['color']

          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"

        # ---------- SIDECAR ----------
        - name: logging-sidecar
          image: busybox
          command: ["sh", "-c", "tail -F /var/log/app.log"]
          volumeMounts:
            - name: logs
              mountPath: /var/log

      volumes:
        - name: logs
          emptyDir: {}
