apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-green
  labels:
    app: backend
    color: green
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
      color: green
  template:
    metadata:
      labels:
        app: backend
        color: green
    spec:
      imagePullSecrets:
        - name: ecr-secret
      initContainers:
        - name: init-check
          image: busybox
          command:
            - sh
            - -c
            - |
              echo "Initializing backend in $(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace)"
              sleep 5

      containers:
        - name: backend
          # image: BACKEND_IMAGE
          image: 349070092739.dkr.ecr.us-east-1.amazonaws.com/k8s-core-backend:d0027d94904f76d956cf04da7fae2fa920db171e
          ports:
            - containerPort: 3000

          env:
            - name: ENVIRONMENT
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace

            - name: BACKEND_VERSION
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['color']

          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10

        - name: logging-sidecar
          image: busybox
          command: ["sh", "-c", "tail -F /var/log/app.log"]
          volumeMounts:
            - name: logs
              mountPath: /var/log

      volumes:
        - name: logs
          emptyDir: {}



