apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: dev
spec:
  selector:
    app: backend
    color: blue   # CD switches this
  ports:
    - port: 80
      targetPort: 3000
