apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-v1
  namespace: dev
  labels:
    app: frontend
    version: v1
spec:
  replicas: 3
  selector:
    matchLabels:
      app: frontend
      version: v1
  template:
    metadata:
      labels:
        app: frontend
        version: v1
    spec:
      imagePullSecrets:
        - name: ecr-secret

      # ---------- INIT CONTAINER ----------
      initContainers:
        - name: init-frontend
          image: busybox
          command:
            - sh
            - -c
            - |
              echo "Initializing frontend in namespace $(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace)"
              sleep 3

      containers:
        # ---------- MAIN FRONTEND ----------
        - name: frontend
          image: 349070092739.dkr.ecr.us-east-1.amazonaws.com/k8s-core-frontend:<TAG>
          ports:
            - containerPort: 80

          env:
            - name: FRONTEND_VERSION
              value: "v1"
            - name: ENVIRONMENT
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace

          volumeMounts:
            - name: logs
              mountPath: /var/log

        # ---------- SIDECAR ----------
        - name: logging-sidecar
          image: busybox
          command: ["sh", "-c", "tail -F /var/log/frontend.log"]
          volumeMounts:
            - name: logs
              mountPath: /var/log

      volumes:
        - name: logs
          emptyDir: {}
