apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-v1
  namespace: dev
  labels:
    app: frontend
    version: v1
spec:
  replicas: 3
  selector:
    matchLabels:
      app: frontend
      version: v1
  template:
    metadata:
      labels:
        app: frontend
        version: v1
    spec:
      imagePullSecrets:
        - name: ecr-secret

      initContainers:
        - name: init-frontend
          image: busybox
          command:
            - sh
            - -c
            - |
              echo "Initializing frontend v1"
              sleep 3

      containers:
        - name: frontend
          image: 349070092739.dkr.ecr.us-east-1.amazonaws.com/k8s-core-frontend:8823d947ebe6062a66f25abc25fa597b908dd922
          ports:
            - containerPort: 80
          env:
            - name: FRONTEND_VERSION
              value: "v1"
            - name: ENVIRONMENT
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          volumeMounts:
            - name: logs
              mountPath: /var/log

        - name: logging-sidecar
          image: busybox
          command:
            - sh
            - -c
            - |
              mkdir -p /var/log/nginx
              touch /var/log/nginx/error.log
              tail -F /var/log/nginx/error.log
          volumeMounts:
            - name: logs
              mountPath: /var/log

      volumes:
        - name: logs
          emptyDir: {}


