name: Build and Push Docker Images to ECR

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: self-hosted

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Configure AWS credentials (IAM Role)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push BACKEND image
        run: |
          docker build -t backend:${{ github.sha }} app/backend
          docker tag backend:${{ github.sha }} ${{ secrets.ECR_BACKEND_REPO }}:${{ github.sha }}
          docker push ${{ secrets.ECR_BACKEND_REPO }}:${{ github.sha }}

      - name: Build and push FRONTEND image
        run: |
          docker build -t frontend:${{ github.sha }} app/frontend
          docker tag frontend:${{ github.sha }} ${{ secrets.ECR_FRONTEND_REPO }}:${{ github.sha }}
          docker push ${{ secrets.ECR_FRONTEND_REPO }}:${{ github.sha }}
